*{
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.top{
    background-color: #121212;
    height: 80px;
}
.bar{
    color: azure;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 11px;
 
}
.second{
    background-color: #121212;
    height: 80px;
    display: flex;
    align-items:center ;
    gap: 50px;

    font-family: Arial, Helvetica, sans-serif;

   
}
.snd{
    color: white;
}

.fa-regular {
    color: aliceblue;
    padding-left: 690px;
}

.fa-solid {
    color: aliceblue;
  
} 

h2{
    margin-left: 20px;
    
    font-family:'Poppins',sans-serif;
    color: white;
}
.right-sec li{
    color: white;
}
 .snd:link{
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     text-decoration: none;
 }
.tdimg1{
    width: 30px;
    height: 30px;
}

.tdimg1 img{
    width: 400px;
    height: 400px;
    padding-left: 40px;
    padding-top: 20px;
}
.last {
    background-color: red;
    height: 620px;
}
.last-font {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 400px;
    padding-left: 400px;
    

}
.name {
    height: 200px;
    width: 200px;
}
.last {
    display: flex;
    align-items: center;
    justify-content: center;
}
.name img {
    padding-right: 20px;
        width: 500px;
        height: 400px;
}
.about-div{
    width: 90%;
    height: 500px;
    margin-left: 60px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}
.about-img{
    width: 34%;
    height: 100%;
    
}.about-img img{
    width: 100%;
    height: 100%;
}.about-text{
    width: 66%;
    height: 100%;
    font-weight: lighter;
    font-family: "system_ui", -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    
}.ab-text{
    width: 80%;
    height: 200px;
    margin-top: 100px;
    margin-left: 60px;
}
.ab-text .p1{
font-weight: 500;
font-size: 20px;

}
.ab-text .p2{
    padding-top: 30px;
}
.button {
    font-family: 'Courier New', Courier,;
    color:aliceblue;
    background-color:#121212;
    width: 100px;
    height: 44px;
    margin-top:30px ;
}
.footer{
    height: 600px;
    background-color: #121212;
    margin-top: 100px;
    
 }
 .footer-final{
    background-color: #121212;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    gap: 20px;
 }
 .final{
    margin-top: 20px;
 }
 .end{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: start;
    margin-top: 10px;
    font-size: 14px;
    padding-left: 40px;
    color: rgb(151, 148, 148);
 }
 .text {
    color: rgb(121, 13, 13);
 }
 /*
.conta {
    font-size: 20px;
    padding-top: 40px;
    color: white;
    justify-content: center;
    display: flex;
    text-align: center;
}
.num {
    color: white;
    justify-content: center;
    display: flex;
    text-align: center;
    gap: 40px;
    padding-top: 20px;
    font-size: 18px;
}
.las{
     color: white;
    justify-content: center;
    display: flex;
    text-align: center;
    gap: 40px;
    padding-top: 20px;
    font-size: 18px;
}
.fin {
    font-size: 18px;
    color: white;
    justify-content: center;
    display: flex;
    text-align: center;
    gap: 40px;
    padding-top: 20px;
    height: 50px;
} */
/* 
.icon {
   margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.end {
    font-size: 13px;
    color: gray;
     margin-top: 50px;
     padding-left: 50px;
     background-color: black;

}
.line{
    margin-top: 100px;
} */
